.Img {
  position: relative;
}
.Img:hover {
  opacity: 0.5;
}
.Icon {
  position: absolute;
  /* left: 50%; */
  top: 0;
  color: red;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  height: 100%;
}

.Icon:hover {
  opacity: 1;
}

.Icon > div {
  border-radius: 50%;
  background-color: white;
  width: 54px;
  height: 54px;
  margin: auto;
}
.Icon > div > img {
  padding: 20px;
}
